.membership-page {
    text-align: center;
    padding: 100px;
    //background: linear-gradient(135deg, #81C784, #66BB6A);
    /* Thêm nền gradient */
    background: linear-gradient(135deg, #f0fad6 0%, #eafbcf 100%);
    font-family: 'Arial', sans-serif;
}

.membership-page h1 {
    font-size: 2.5rem;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #2c3e50;
    text-transform: uppercase;
    letter-spacing: 2px;
    /* Thêm kiểu chữ hiện đại */
}

.membership-page p {
    font-size: 1.2rem;
    margin-bottom: 30px;
    color: #34495e;
}

.packages {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    align-items: stretch;
}

.package {
    background: #ffffff;
    border: 1px solid rgb(102, 187, 106);
    /* Màu viền */
    border-radius: 15px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 450px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.package:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 20px rgba(76, 175, 80, 0.3);
    /* Màu đổ bóng khi hover */
}

.package h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: rgb(3, 3, 3);
    /* Màu tiêu đề */
}

.package .price {
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(5, 5, 5);
    /* Màu giá */
    margin-bottom: 10px;
}

.package p {
    font-size: 1rem;
    margin-bottom: 10px;
    color: rgb(8, 8, 8);
    /* Màu chữ mô tả */
}

.package .features {
    list-style: none;
    padding: 0;
    margin: 10px 0;
    text-align: left;
}

.package .features li {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    color: #34495e;
}

.package .features li::before {
    content: '✔';
    color: #27ae60;
    margin-right: 10px;
    font-size: 1.2rem;
}

.register-button {
    background: linear-gradient(135deg, #63c016, #2980b9);
    color: #ffffff;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.3s ease;
    margin-top: auto;
    width: 100%;
    max-width: auto;
    text-align: center;
    font-weight: bold;
}

.register-button:hover {
    background: linear-gradient(135deg, rgb(102, 187, 106), rgb(76, 175, 80));
    transform: scale(1.05);
}